# Ignore .npz files (except essential ones)
*.npz

# But track these essential files:
!docs/fixed_points/examples/map.npz
!docs/fixed_points/examples/map-with-stability.npz
!docs/paths/sweeps/kappa/sweep/map.npz
!docs/paths/sweeps/epsilon/sweep/map.npz

# Ignore PyCharm project files
.idea/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore scratch files
scratch/
docs/_site/

# Ignore lock files
*.lock
.jekyll-metadata
.jekyll-cache/

# Ignore Python egg-info
*.egg-info/
*.egg